/**style sheet**/
#title {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}
#navbar {
  position: fixed;
  left: 0;
}
.main-section {
  position: relative;
  top: 200;
}


  
  @media screen and (max-width: 700px){
    .main-section {
      position: relative;
      display: flex;
      justify-content: center;
    }
